<%= render :partial => '/shared/mobile_nav' %>

<%= render :partial => '/shared/main_nav' %>

<div class="sub-body">
  <h2>Edit Article:</h2>
  <br>

  <%= form_for @article do |f| %>
  	<%= f.label "title", "Title:" %>
      <%= f.text_field("title") %><br><br>
	
  	<%= f.label "author", "Author:" %>
  	<%= f.collection_select(:author_id, Author.all, :id, :name, :prompt => true)%><br><br>
  
    <%= f.label "main_image_url", "URL for main image:" %>
    <%= f.text_field("main_image_url") %><br><br>
	
      <%= f.label "body", "Article Text:" %><br>
      <%= f.text_area("body", :class => "article_body") %><br><br>
	
    <label style="font-weight: bold;">Edit locations assigned to this article:</label>
    
    <br><br>
	  
  	<%= f.fields_for :pins do |p| %>
			
  		<%= p.collection_select(
  			:location_id,
  			Location.all,
  			:id,
  			:custom_alias,
  			{:selected => p.object.location_id }
  		) %>
		
  		<br>
		
  	<% end %>
    
  	<div id="add_dropdown">
  	</div>
	
  	<br>
	
  	<%= link_to_add_dropdown(@article, f) %>	
	
  	<br><br><br>
    
    <label style="font-weight: bold;">Add a new location to the system:</label>
    
    <br><br>
    
  	<div id="add_location_fields">
  	</div>
    
    <br>
	
  	<%= link_to_add_location_fields(@article, f) %>
    <br><br><br>
	
  	<%= f.hidden_field(:published, value: true)%>
	
      <%= f.submit "Publish", :class => 'form_submit' %>
  <% end %>
  
  <br>
  
  <button class="unpublish"><%= link_to("UNPUBLISH", article_path(@article.id), method: :delete, confirm: "Are you sure you want to unpublish this article? It will no longer appear on the site but can always be retrieved from the database.") %></button>
  
</div>