Edit Article:

<%= form_for @article do |f| %>
	<%= f.label "title", "Title:" %>
    <%= f.text_field("title") %><br>
	
	<%= f.label "author", "Author:" %>
	<%= f.collection_select(:author_id, Author.all, :id, :name, :prompt => true)%><br>
  
  <%= f.label "main_image_url", "URL for main image:" %>
  <%= f.text_field("main_image_url") %><br>
	
    <%= f.label "body", "Article Text:" %><br>
    <%= f.text_area("body") %><br><br>
	
	
	<%= f.fields_for :pins do |p| %>
			
		<%= p.collection_select(
			:location_id,
			Location.all,
			:id,
			:custom_alias,
			{:selected => p.object.location_id }
		) %>
		
		<br>
		
	<% end %>
	
	<div id="add_location_fields">
	</div>
	
	<%= link_to_add_location_fields(@article, f) %>
	
	<%= f.hidden_field(:published, value: true)%>
	
    <%= f.submit "Publish" %>
<% end %>