<%= render :partial => '/shared/mobile_nav' %>

<%= render :partial => '/shared/main_nav' %>

<div class="sub-body">
  <h2>New article</h2>
  <br>

  <%= form_for @article do |f| %>
  	<%= f.label "title", "Title:" %>
      <%= f.text_field("title") %><br><br>
	
  	<%= f.label "author", "Author:" %>
  	<%= f.collection_select(:author_id, Author.all, :id, :name, :prompt => true)%><br><br>
  
    <%= f.label "main_image_url", "URL for main image:" %>
    <%= f.text_field("main_image_url") %><br><br>
	
      <%= f.label "body", "Article Text:" %><br>
      <%= f.text_area("body", :class => "article_body") %>
	
  	<br><br>
	
  	<div id="add_dropdown">
  	</div>
	
  	<br>
	
  	<%= link_to_add_dropdown(@article, f) %>	
	
  	<br><br><br>
	
  	<label style="font-weight: bold;">Add a new location to the system:</label>
	
  	<br><br>
	
  	<div id="add_location_fields">
  	</div>
	
  	<br>
	
  	<%= link_to_add_location_fields(@article, f) %>
	
  	<br><br><br>
	
  	<%= f.hidden_field(:published, value: true)%>
      <%= f.submit "Publish", :class => 'form_submit' %>
	
  <% end %>
</div>