New article

<%= form_for @article do |f| %>
	<%= f.label "title", "Title:" %>
    <%= f.text_field("title") %><br>
	
	<%= f.label "author", "Author:" %>
	<%= f.collection_select(:author_id, Author.all, :id, :name, :prompt => true)%><br>
	
    <%= f.label "body", "Article Text:" %><br>
    <%= f.text_area("body") %>
	
	<br><br>
	
	<div id="add_dropdown">
	</div>
	
	<br>
	
	<%= link_to_add_dropdown(@article, f) %>	
	
	<br><br><br>
	
	<label style="color:red">Add a new location to the system:</label>
	
	<br><br>
	
	<div id="add_location_fields">
	</div>
	
	<br>
	
	<%= link_to_add_location_fields(@article, f) %>
	
	<br><br>
	
	<%= f.hidden_field(:published, value: true)%>
    <%= f.submit "Publish" %>
	
<% end %>