<div class="mobile_show_menu" id="mobile_show_menu" style="display: none;">
  <ul>
    <li><%= link_to("More Stories", all_articles_path) %></li>
    <li><%= link_to("About", about_path) %></li>
		<% if @admin %><li class="admin_priv"><%= link_to("Edit Article", edit_article_path(@article.id)) %></li><% end %>
		<% if @admin %><li class="admin_priv"><%= link_to("Unpublish Article", article_path(@article.id), method: :delete, confirm: "Are you sure you want to unpublish this article? It will no longer appear on the site but can always be retrieved from the database.") %></li><% end %>
		<% if @user ==nil %><li><%= link_to("Sign Up", new_user_path) %></li><% end %>
		<% if @user ==nil %><li><%= link_to("Log In", user_login_path) %></li><% end %>
		<% if @user %><li><%= link_to("Sign Out", user_logout_path) %></li><% end %>
  </ul>
</div>