<div class="mobile_main_menu" id="mobile_main_menu" style="display: none;">
  <ul>
    <li>More Stories</li>
    <li><%= link_to("About", about_path) %></li>
		<% if @user ==nil %><li><%= link_to("Sign Up", new_user_path) %></li><% end %>
		<% if @user ==nil %><li><%= link_to("Log In", user_login_path) %></li><% end %>
		<li><%= link_to("Sign Out", user_logout_path) if @user %></li>
  </ul>
</div>

<%= render :partial => '/shared/main_nav' %>

<div class="about">
  <p>Hey, I'm Alex. I'm a journalist and junior developer currently based out of Omaha, Nebraska.</p>
  <p>When I was working for <em><a href="http://stream.aljazeera.com">The Stream</a></em> at Al Jazeera English, our staff kept a world map in our office. We placed stickers on the map to represent each of us and celebrate our geographic and ethnic diversity. We also marked every story and episode we produced on the map so that we could see progress as it filled and have a visible representation of where we were lacking in our reporting.</p>
  <p>As a student at <a href="http://omahacodeschool.com">Omaha Code School,</a> I immediately thought of incorporating that practice into a publishing CMS for my first full-stack project. How great would it have been - for us at <em>The Stream</em> and for our viewership - if we digitized that mapping process? How might the implications of this practice change for a local publication in a city like Omaha, often noted for its stark racial and economic segratation and recently deemed the most dangerous place to be black in the United States?</p>
  <p>Development was not easy. When I first started working on the project it was with Ruby and Sinatra; we students did not know about Ruby on Rails, ActiveRecord magic, or even about JavaScript and JSON. Once I added those technologies to my repitoire, the project came alive. </p>
  <p>There is always more work to be done on a given web application, and I view this project as a labor of love. I always welcome feedback, which you can feel free to <a href="http://twitter.com/halfghaninne">tweet to me</a> or <a href="https://github.com/halfghaninne/2015-03-22-rails-mapped-articles/issues">submit as an issue</a> on the project's Github repository.</p>
</div>